<h1>All Hungries</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>GitHub handle</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% people.each do |person| %>
  <tr>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.github_handle %></td>
    <td><%= person.email %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
  </tr>
<% end %>
</table>

<br />

%h1 All Hungries

%table
  %tr
    %th First name
    %th Last name
    %th GitHub handle
    %th Email

    - people.each do |person|
      %td= person.first_name
      %td= person.last_name
      %td= person.github_handle
      %td= person.email
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)

%br/