!!!
%html
  %head
    %title Evaluator
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag    "stylesheets/bootstrap.min.css", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div#banner.row-fluid
      %div.span12
      = link_to "Home", root_path, { :class => "banner" }
    .row-fluid
      .navigation-left.span6
        %ul.unstyled
          %li= link_to "Home", root_path
      .navigation-right.unstyled.span6
        %ul.unstyled
          - if signed_in?
            %li= link_to "Sign out", signout_path
            - if Person.instructor?(current_user)
              %li= link_to "Admin", admin_path
            %li= link_to current_user.github_handle, edit_person_path(current_user)
    %hr/
    -unless notice.nil?
      %p#notice= notice

    = yield

