!!!
%html
  %head
    %title Evaluator
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag    "stylesheets/bootstrap.min.css", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div#banner.row-fluid
      %div.span12
    .row-fluid
      #navigation.span12
        %ul
          - if signed_in?
            %li= link_to "Sign out", signout_path
            - if Person.instructor?(current_user)
              %li= link_to "Admin", admin_path
            %li= link_to current_user.github_handle, edit_person_path(current_user) 
    .row-fluid
      %p Lorem ipsum dolor sit amet, tristique velit vehicula, curabitur nulla ipsum eu velit sed ullamcorper, vivamus quis integer felis fusce lorem eget, porttitor vivamus hymenaeos, dictum mollit et nibh. Placerat id justo sociis quam erat, sodales amet ut, nulla praesent, vel tortor non nec cras suscipit libero, viverra hac. Ratione faucibus, sed diam, sit tincidunt in vestibulum ut nibh. Dapibus ac nibh metus, adipiscing condimentum turpis, libero ultrices aliquam, ac reprehenderit erat in laboriosam. Wisi ut sed eget ut ac. Nascetur nec amet eu, cum imperdiet. Eget turpis et vel neque nisl, eu vivamus, interdum ac per, libero dolor duis id ante massa, nibh neque. Ac vitae sem neque donec, erat suspendisse dolore vitae lorem dignissim nibh. Nec wisi sit. In aliquam id neque vestibulum, urna non velit justo augue tempus, leo mattis ut diam, tincidunt cras.

    %p#notice= notice

    = yield

